/*
 -Estilos para el proyecto final-

 color atractivo para fondo alternativo:
rgb(165, 139, 146) y sin bg color para clase "todo"
*/
*{
	margin: 2px ;
	box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
body{
	background-color: rgb(251, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo{
	width: 75%;
	max-width: 1200px;
	min-height: 120px;
	background-color: #dfdfdf;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.izquierdo{
	position: initial;
	background-color: rgb(123, 191, 250);
	padding: 7px;

}
.derecho{
	position: initial;
	background-color: rgb(220, 251, 252);
	padding: 20px;

}
.f_perfil .contacto, .conocimientos, .idiomas, .pasatiempos, .titulo,
.sumario, .experiencia, .educacion {
	margin-bottom: 30px;
}
.botones{
	margin-bottom: 1px;
    display: flex;
    justify-content: center;
}

h2{
    text-decoration: underline rgba(95, 95, 95, 0.25);
    font-size: 17px;
}
img{
    border: 5px solid #434444;
    width: 150;
    height: 150;
}

h1{
    font-size: 25px;
}

table{
    font-family: arial;
    border-collapse: separate;
    width: 90%;
}
  
td, th {
    border: 1px solid #cac8c8;
    text-align: left;
    padding: 8px;
}

